.btn {
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
    border-radius: 20px;
    opacity: 0.6;
    cursor: pointer;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    display: flex;
    align-items: center;
}

.btn.dim {
    border: 1px solid var(--gray-600);
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
    color: var(--gray-600);
    background: rgba(255, 255, 255, 0.1);
}

.btn.active {
    background-color: #fff;
    color: var(--dark-text);
    opacity: 1;
}
