:root {
    --purpure: #8b85e7;
    --navy-blue: #00d4ff;

    --gray-400: #f2f2f2;
    --gray-600: #615f5f;

    --navbar-height: 80px;
    --sidebar-width: 60px;

    --radius-md: 12px;

    --aside-content-size: 200px;
}

* {
    box-sizing: border-box;
}

h2,
h3,
h4 {
    padding: 0;
    margin: 0;
    font-weight: 600;
}

h2 {
    margin: 0 0 20px 0;
    font-size: 34px;
}
h3 {
    margin: 15px 0 10px 0;
    font-size: 20px;
}
h4 {
    margin: 10px 0 10px 0;
    font-size: 15px;
}

h3 ~ p,
h3 ~ h4 {
    margin-left: 20px;
}
h4 ~ p {
    margin-left: 40px;
}

p {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

html,
body,
main {
    width: 100%;
    height: 100%;
}

html,
body {
    padding: 0;
    margin: 0;
    color: #4e4e4e;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

body {
    background: linear-gradient(138deg, rgba(139, 133, 231, 1) 0%, rgba(0, 212, 255, 1) 100%);
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

@keyframes opacityReveal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar {
    animation: expand 0.8s linear;
    height: var(--navbar-height);
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    background-color: #fff;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);
    transition: all 1s;
    overflow: hidden;
}

.navbar h1 {
    white-space: nowrap;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.sidebar {
    height: calc(100% - 80px);
    background: var(--gray-400);
    margin-top: 80px;
    width: var(--sidebar-width);
    box-shadow: inset 0 3px 6px rgba(255, 255, 255, 0.3);
    overflow: hidden;
    transition: all 0.4s;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
}

.sidebar .toggler {
    position: fixed;
    top: 100px;
    left: 9px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 20px;
    opacity: 0.6;
    cursor: pointer;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.05);
    transition: all 0.3s;
}

.sidebar .toggler:hover {
    opacity: 1;
}

.sidebar .toggler svg {
    fill: #fff;
    height: 20px;
    width: 20px;
    padding: 0;
    transform: rotate(0deg);
    transition: all 0.3s;
}

.sidebar.shown .toggler {
    border: 1px solid var(--gray-600);
    opacity: 1;
    background: transparent;
    left: 69px;
}

@media (max-width: 576px) {
    .sidebar.shown {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-evenly;
        padding: 20px 30px;
    }

    .sidebar.shown .toggler {
        left: calc(100% - 66px);
        top: 20px;
    }
}

.sidebar.shown .toggler svg {
    transform: rotate(180deg);
    fill: var(--gray-600);
}

.sidebar button:not(.toggler) {
    height: 60px;
    width: 60px;
    background: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.sidebar button:not(.toggler) img {
    height: 100%;
    width: auto;
    transform: scale(0.9);
}

.sidebar button:not(.toggler):hover img {
    transform: scale(1);
}

.sidebar button:not(.toggler):active img {
    transform: scale(0.6);
}

/* SCROLLBAR */
.sidebar::-webkit-scrollbar {
    width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: rgb(199, 199, 199);
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: rgb(220, 220, 220);
}

.sidebar::-webkit-scrollbar-thumb:active {
    background-color: white;
}

a.logo {
    animation: shrinkToCorner 2s linear;
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: all 1s;
    display: block;
}

@media (max-width: 460px) {
    a.logo {
        width: calc(100% - 60px);
        height: calc(100% - 60px);
    }

    a.logo span {
        font-size: 60px;
    }

    a.logo span small {
        font-size: 24px;
        line-height: 26px;
    }

    .navbar h1 span {
        display: none;
    }
}

a.logo span {
    animation: opacityReveal 0.6s;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 90px;
    line-height: 92px;
    color: var(--gray-600);
    padding: 0 20px;
    margin: 0;
    letter-spacing: -4px;
}

a.logo span small {
    line-height: 32px;
    font-size: 30px;
    display: block;
    letter-spacing: -1px;
}

a.logo lottie-player {
    position: absolute;
    top: 0;
    left: -20%;
    width: 200%;
}

img.logo {
    width: 100%;
    height: 100%;
    opacity: 0;
}

/* CONTEUDO */

main {
    opacity: 0;
    display: flex;
    transition: all 2s;
}

.wrapper {
    width: calc(100% - var(--sidebar-width));
    height: calc(100% - var(--navbar-height));
    margin-top: var(--navbar-height);
    padding: 30px;
    transition: all 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
